certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.1.0
distlib==0.3.6
filelock==3.12.0
flake8==6.0.0
greenlet==2.0.2
identify==2.5.24
idna==3.4
mccabe==0.7.0
nodeenv==1.8.0
platformdirs==3.5.1
playwright==1.34.0
pre-commit==3.3.2
pycodestyle==2.10.0
pyee==9.0.4
pyflakes==3.0.1
PyYAML==6.0
requests==2.31.0
typing_extensions==4.6.2
urllib3==2.0.2
virtualenv==20.23.0
